{% extends "layout.html" %}

{% set active_page = "create_document" %}

{% block title %}Create Document{% endblock %}

{% block content %}
  <h1>Create a New Document</h1>
  <form action="{{ url_for('create_document') }}" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br>
    <label for="collection">Collection:</label><br>
    <select id="collection" name="collection" required>
      <option value="santa_barbara_library">Santa Barbara Public Library</option>
      <option value="unity_shoppe">Unity Shoppe</option>
    </select><br>
    <input type="submit" value="Submit">
  </form>
  <a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
