{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}{% if document %}View Document{% else %}Create Document{% endif %}{% endblock %}

{% block content %}

        <h1>Santa Barbara Public Library Documents</h1>
		{% for doc in documents1 %}
        <div>
            <h2>{{ doc.get('Name', 'No Name') }}</h2>
            <p>{{ doc }}</p>
        </div>
		{% endfor %}

		<h1>Unity Shoppe Documents</h1>
		{% for doc in documents2 %}
        <div>
            <h2>{{ doc.get('Name', 'No Name') }}</h2>
            <p>{{ doc }}</p>
        </div>
		{% endfor %}
        <form method="POST">
            <input type="text" name="title" placeholder="Title" required><br>
            <textarea name="content" placeholder="Content" required></textarea><br>
            <input type="submit" value="Create">
        </form>
		<a href="{{ url_for('home') }}">Back to Home</a>
	
	<!--- https://www.perplexity.ai/search/traceback-most-recent-call-las-eCBoIlVPTfqYzChkWOZfTQ help for html-->
  
{% endblock %}