{% extends "layout.html" %}

{% set active_page = "Map" %}

{% block title %}Map{% endblock %}

{% block content %}


  <h1>This is the Map place</h1>


<img class="center" src="/static/SBMAP.jpg" alt="SBMAP" usemap="#workmap"> 
<div class="image-container">

<img id="hover-image" src="/static/bubblef1.jpg" alt="Hover Image">
	
</div>

<map name="workmap">
  <area shape="poly" alt="SB Public Library" title="SBPL" href="/SBPL" coords="640,274,648,288,632,284,628,272" onmouseover="highlight(this, 'your-hover-image.jpg')" onmouseout="removeHighlight()">
  <area shape="Circle" coords="618 , 282 , 7" alt="UnityShoppe" href="/UnityS">
  <area shape="Circle" coords="605 , 296 , 7" alt="WestSideBoys&GirlsClub" href="/WSBG">
  <area shape="Circle" coords="718 , 295 , 7" alt="Santa Barbara Zoo" href="/SBZ">
  <area shape="Circle" coords="685 , 267 , 7" alt="Franklin Neighborhood Center" href="/FNC">
  <area shape="Circle" coords="1080 , 380 , 7" alt="Carpinteria Seal Watch" href="/CSW">
  <area shape="Circle" coords="353 , 250 , 7" alt="Cold Noses, Warm Hearts" href="/CNWH">
  <area shape="Circle" coords="465 , 220 , 7" alt="Hearts Therapeutic Equestrian Center" href="/HTEC">
</map>
  
  
{% endblock %}
