{% extends "layout.html" %}

{% set active_page = "Jobs" %}

{% block title %}Jobs{% endblock %}

{% block content %}
  <h1>This is Jobs</h1>

<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/OutE.webp" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title">Santa Barbara Public Library</h4>
    <p class="card-text">Help orginize books and movies!</p>
    <a href="/SBPL" class="btn btn-primary">See Description</a>
	<a href="/CSW" class="btn btn-primary">See Reviews</a>
	</div>
  </div>
</div>

<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/BGLOGO.jpg" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title">Boys and Girls Club</h4>
    <p class="card-text">Help giving out food to kids or tutor them!</p>
    <a href="/WSBG" class="btn btn-primary">See Description</a>
	</div>
  </div>
</div>


<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/HLOGO.png" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title">Hearts Therapeutic Equestrian Center</h4>
    <p class="card-text">Help out the ranch!</p>
    <a href="/HTEC" class="btn btn-primary">See Description</a>
	</div>
  </div>
</div>

<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/Zlogo.jpg" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title">Santa Barbara Zoo</h4>
    <p class="card-text">Help with the stores!</p>
    <a href="/SBZ" class="btn btn-primary">See Description</a>
	</div>
  </div>
</div>

<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/LOGOCW.jpg" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title">Cold Noses, Warm Hearts Anime Rescue </h4>
    <p class="card-text">Help rescue animals!</p>
    <a href="/CNWH" class="btn btn-primary">See Description</a>
	</div>
  </div>
</div>

<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/ULOGO.png" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title"> Unity Shoppe </h4>
    <p class="card-text">Help orginize food and distributing it!</p>
    <a href="/UnityS" class="btn btn-primary">See Description</a>
	<a href="/CSW" class="btn btn-primary">See Reviews</a>
	</div>
  </div>
</div>


<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/FNC2.webp" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title"> Franklin Neighborhood Center</h4>
    <p class="card-text"> Help with setting up any parties/events!</p>
    <a href="/FNC" class="btn btn-primary">See Description</a>
	</div>
  </div>
</div>

<div class="row" class="card" style="width:400px">
  <img class="card-img-top" src="/static/SEALS.jpg" alt="Card image">
  <div class="col p-3" class="card-body">
    <h4 class="card-title"> Carpinteria Seal Watch  </h4>
    <p class="card-text">Help with the seals!</p>
    <a href="/CSW" class="btn btn-primary">See Description</a>
	</div>
  </div>
</div>
{% endblock %}
